body {
    font-family: 'Electrolize', sans-serif;
    background: #000;
    color: white;
}

p {
    color: cyan;
}

pre {
    color: lime;
}

.outline {
    border: solid white 3px;
}

.center {
    text-align: center;
}

.grid {
    display: grid;
    grid: 2fr 1fr;
}